if PROC_FS=y

menuconfig HISI_PROC
	bool "hisilicon proc support"
	depends on PROC_FS
	help
	  select hisilicon proc.

config HISI_PROC_HARDWARE
	bool "/proc/hardware support"
	depends on HISI_PROC && OF
	help
	  read the /proc/hardware to get hardware info.

config HISI_PROC_MEMORYINFO_FAST
	bool "/proc/meminfo_lite support"
	depends on HISI_PROC && OF
	default n
	help
	  offer a fast way to get system memory info(free and aviliable)

endif # PROC_FS

config MEMCG_PROTECT_LRU
	bool "Memory Resource Controller Protect LRU file pages"
	depends on MEMCG && !TRANSPARENT_HUGEPAGE && !HUGETLB_PAGE && (ARM64 || X86_64)
	default n
	help
	  Protect LRU support. It's between normal lru and mlock,
	  that means we will reclaim protect lru file pages as late as possible.
