config HW_WIFI
	bool "Huawei wifi tcp monitor support"
	default n

config HUAWEI_MSS_AUTO_CHANGE
        bool "Huawei MSS auto change function support"
        default n

config HW_SYN_LINEAR_RETRY
        bool "Huawei tcp syn sent linear retry support"
        default n

source "drivers/huawei_platform/net/hw_netfilter/Kconfig"
source "drivers/huawei_platform/net/netbooster/Kconfig"
source "drivers/huawei_platform/net/himos/Kconfig"
source "drivers/huawei_platform/net/bastet/Kconfig"
